/* Jerarquía de tipografias
    1. Tipografía principal del sitio: BricolageGrotesque
    2. Elementos de estilo / firmas / acentos: DancingScript
    3. Subtítulos o textos secundarios: MyriadBengali
*/
